/* .badge{
    width: 10px !important;
    height: 10px  !important;
    color : red !important;
    background-color: red !important;
    border: red !important;
    display: none !important;


} */

.alerted {
    width: 10px !important;
    height: 10px  !important;
    color : red !important;
    background-color: red !important;
    border: red !important;
}
